<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
       
    <h1>Id: <%= data[0].id %> </h1>
    <h1>User Name: <%= data[0].user_name%> </h1>
    <h1>Nick Name: <%= data[0].nick_name %> </h1>
    <h1>Age: <%= data[0].age %> </h1>
    <img  src="/<%=data[0].profile_pic%>" alt="Profile Pcture" srcset="">
</body>
</html>